<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/Tailwind/style.css" rel="stylesheet">
</head>
<body class="bg-slate-900 ">
    <nav class="flex p-7  overflow-hidden justify-between items-center shadow-lg sticky top-0 bg-slate-900 ">
        <div class=" float-left bg-slate-800 rounded mx-4 border-x-4 border-slate-800 shadow-lg  font-bold text-2xl text-sky-50">Ferdian.</div>
    <!-- Logo -->
        <!-- <div class="p-2  ">
            <img class=" float-left h-10 w-10 " src="./img/Logo3.png" alt="">
        </div> -->
    <div class="flex float-left items-center justify-between">
        <div class="  bg-slate-800 mx-4 border-x-4 border-slate-800 shadow-lg rounded text-sky-50">
            <a href="#Home">#Home</a>
        </div>
        <div class="  bg-slate-800 mx-4 border-x-4 border-slate-800 shadow-lg rounded text-sky-50">
            <a href="#About">About</a>
        </div>
        <div class="  bg-slate-800 mx-4 border-x-4 border-slate-800 shadow-lg rounded text-sky-50">
            <a href="">Project</a>
        </div>
        <div class="  bg-slate-800 mx-4 border-x-4 border-slate-800 shadow-lg rounded text-sky-50">
            <a href="">Contact</a>
        </div>
    </div>
    </nav>
    <section class="mb-12 p-44  bg-gradient-to-tr from-slate-900 to-violet-900  " id="Home" >
        <div class=" p-44 container mx-auto  text-white ">
            <header class="text-4xl font-bold mb-4 ">
                "HTML With 
                <span class="pb-1 border-b-2 bold border-white"> TailwindCSS</span>"
            </header>
            <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente, commodi?</p>
        </div>
    </section>
    <section class="m-12" id="About" >
        <!-- Underline -->
        <!-- <div class=" underline  text-white text-4xl font-bold">
            YOLO
        </div> -->
        <div class=" p-44  text-white">
            <span class="text-4xl font-bold"> #About </span>
            <p class="  text-white"> Lorem ipsum, dolor sit amet consectetur <br> adipisicing elit. Reprehenderit sed dolores error accusamus hic <br> praesentium quae repellendus porro doloribus, ipsum officiis enim velit exercitationem <br> suscipit vel, similique est rerum beatae.<span class="pb-1 border-b-2 bold border-white">Computer </span>  </p>
            <div class=" py-12 w-36 border text-black border-black bg-white rounded  ">
                Tes
            </div>
        </div>
    </section>
</body>
</html>